.startBtn{
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  
}

.gameStart{
    height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputNumber{
  height: 45px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  border: 2px solid gray;
}